body {
	text-align: center;
	background: #232629;
}

h1 {
	text-align: center;
	color: white;
}

.button {
	background-color: #703751;
	border: 5px solid #703751;
	color: white;
	padding: 12px;
	display: inline-block;
	transition: 0.2s;
	font-size: 16px;
	border-radius: 12px;
	width: 40%;
}
.button:hover {
	border: 5px solid #c2487b;
	width: 50%;
}
